
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Naveen_Resume</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/navvi.jpg' %}" >
					<br>
					<h4>Naveen Kumawat</h4>
					<hr>
					<h6>Competitive Programmer</h6>
					<h6>Full Stack Developer| Python Developer</h6>
					<p>kumawatnaveen1506@gmail.com</p>
					<p>8104488683</p>

				</div>
			</div>

			<div class="col-md-7">
				<div class="card card-body h-100  border-info">
					<h4>Objective</h4>
					<hr>
					<p>To pursue a challenging career and be part of a progressive organization that gives scope to enhance my knowledge, skills and to contribute to the overall growth of the organization.</p>

					<p>I am interested in Competitive Programming and also looking for an internship/Job Opportunity at Software Engineer Profile. </p>

					<h4>Links</h4>
					<p>Linkedin :      <a href="https://www.linkedin.com/in/naveen-kumawat-0babb9184"><img class="social" src="{% static 'images/linkedin.png' %}"></a></p>
					<p>Hackerrank :     <a href="https://www.hackerrank.com/Naveen_Kum"><img class="social" src="{% static 'images/hackerrank.png' %}"></a></p>
					<p>Github :      <a href="https://github.com/navvi1234"><img class="social" src="{% static 'images/github.png' %}"></a></p>
				</div>
			</div>
		</div>
	</div>
		<br>

		<div class="container">
		  <div class="row">
				<div class="col-md-3">
					<div class="card card-body h-100">
						<h5>Education</h5>
						<hr>
						<h6>Poornima College of Engineering</h6>
						<p>B.TECH ECE (2017-Present)</p>
						<h6>Central Academy School</h6>
						<p>RBSE-XII (2015)</p>
						<h6>L.B.S. School</h6>
						<p>RBSE-X (2013)</p>
					</div>
				</div>


				<div class="col-md-4">
					<div class="card card-body h-100">
						<h5>Training And Certification</h5>
						<hr>
						<h6>Training</h6>
						<p>Embedded And IoT-45 days (OxyMora, Jaipur)</p>
						<h6>Certification</h6>
						<p>Machine Learning (Coursera)</p>
						<p>Data Science (Coursera)</p>
						<p>Python With Tkinter (IIHT Jaipur)</p>
					</div>
				</div>

				<div class="col-md-5">
					<div class="card card-body h-100">
						<h5>Skills</h5>
						<hr>
							<p>Data Structures and Algorithms</p>
							<p>Python, C(Basics), Object Oriented Programming(OOPs)</p>
							<p>Data Science</p>
							<p>Machine Learning(Basics)</p>
							<p>Django</p>
							<p>DBMS(MySQL)</p>
							<p>Embedded System(Arduino)</p>

				   </div>
			  </div>
		</div>
	</div>
		<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>Projects</h4>
					<hr>
					<h5>Heart Disease Predictor : <a class="small" style="color:red;" href="">Click Here</a></h5>
					    <p>   Web Application( Machine Learning + Data Science + Django )</p>
					<hr>
					<h5>Library Management System : <a class="small" style="color:red;" href="">Click Here</a></h5>
					    <p>   Web Application( Django + DBMS )</p>


				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Achivements</h5>
				<hr>
				<p>Hackerrank 6 Star</p>
				<hr>
				<p>Certified in Model Contest IEEE Student Branch</p>
				<hr>
				<p>Awarded for the Best NSP Project at College level</p>
				</div
			</div>
		</div>
	</div>
		<br>



</body>
</html>
